
/.vscode
/C Files/decrypt
/C Files/decrypt.exe
/C Files/decrypt.txt
/C Files/encrypt
/C Files/encrypt.exe
/C Files/encrypt.txt
/C Files/helperFunction.exe
/C Files/helperFunction
/C Files/masterFile
/C Files/masterFile.exe
/C Files/readFile
/C Files/readFile.exe
/C Files/textFile.txt
/C Files/UI.exe
/C Files/writeFile.exe